@charset "utf-8";
/* CSS Document  TEST*/

/* # Table of Contents
- General Styles 
    -- Buttons
    -- Pop-Ups 
    -- Banners
    -- Calls to Action 
    -- Tables and Lists
    -- Forms 
    -- Pagination
    -- Search Results
    -- Results Page Filters 
	-- Panels
- Structural Elements
    -- Sections
    -- Columns    
- Website Header
- Navigation
    -- Top Navigation 
    -- Main Website Navigation 
    -- Left Navigation
- Custom Page Styles, Classes, IDs
    -- Declaration Page Styles
    -- Adjusting Specific Tables
- Footer
- Media Queries 
    -- Max-width: 974px 
    -- Max-width: 800px 
    -- Max-width: 750px 
    -- Max-width: 600px 
    -- Max-width: 400px 
*/

/* # General Styles
---------------------------------------------------------------------------------------------------- */

body {
  margin:0;
  padding:0;
  font-family: Arial, sans-serif, "Helvetica Neue", Helvetica, Gotham;
  font-size:1em;
  color:#555;
}

textarea, input,
input:active,
input:focus,
*:focus,
select:focus {
  outline:0!important;
}

a {
  text-decoration:none;
  color:#0075e3;
}

p,
ul li,
ol li {
  line-height:1.5em;
}

.smaller {
  font-size:0.75em;
}

a:hover {
  text-decoration:underline;
}

h1, h2, h3, h4, h5, h6 {
  display:block;
  margin:0;
}

h1 {
  font-size:36px;
  font-weight:500;
  color:#0082FC;
}

hr {
  border:0;
  border-top:1px solid #ccc;
  margin-bottom:20px;
  clear:both;
}

.note {
  font-size:.9em;
  color:#999;
}

.align-right {
  text-align:right;
}

.highlight {
  background:rgba(0, 0, 0, 0.1);
}

.hide {
  display:none;
}

/* ## Buttons
--------------------------------------------- */

button,
.button {
  font-family:Arial, Helvetica, sans-serif!important;
  font-weight:normal;
  text-shadow:none;
  font-size:14px;
  box-shadow:none;
  border-radius:0;
  background:#eee;
  border:1px solid #c0c0c0;
  color:#666;
  padding:10px 15px;
  display:inline-block;
}
    
button:hover,
.button:hover {
  cursor:pointer;
  background: #D1CFCC;
  border-color:#65666A;
  color:#fff;
  text-decoration:none;
}
    
.primary-btn {
  color:#fff;
  background: #0082FC;
  border-color:#0065C3;
}

.primary-btn:hover {
	background:#444;
	border-color:#222;
}
  
.media-btn {
  text-align: center;
  padding:10px;
    display:inline-block;
} 

/* ## Pop Ups
--------------------------------------------- */

.pop-up-BG {
  width: 100%;    
  height: 100%;
  top:0;
  bottom:0;
  background-color: rgba(102,102,102,0.5);
  z-index: 1000000000;    
  position: fixed;
  padding: 0;
}

.pop-up {
  position:relative;
  margin:auto;
  display:block;
  min-height:25%;
  height:auto;
  margin-top:15%;
  max-width:500px!important;
  background-color:#fff;
  border:1px solid #40A0FC;
  box-shadow:0px 0px 15px #333;
}

.pop-up-header h3 {
  float:left;
}

.pop-up-header,
.pop-up-body,
.pop-up-footer {
  display:block;
  width:auto;
  clear:both;
  padding:10px;
}

.pop-up-header {
  background-color:#40A0FC;
  overflow:hidden;
  color:#fff;
}

.pop-up-footer {
  position:absolute;
  bottom:0px;
  right:0px;
  text-align:right;
}

.pop-up-close {
  position:absolute;
  top:5px;
  right:0;
  background:transparent;
  border:0;
  float:right;
  color:rgba(255,255,255,0.75);
}

.pop-up-close:hover {
  background:transparent;
  color:#fff;
}

/* Redirecting popup */
.redirecting .waiting {
  margin:10% auto;
}

.redirecting {
  position:relative;
  margin:auto;
  display:block;
  height:auto;
  margin-top:15%;
  max-width:300px!important;
  background-color:#fff;
  border:1px solid #40A0FC;
  box-shadow:0px 0px 15px #333;
}

/* ## Banners
--------------------------------------------- */

.banner-image {
  min-width:100%;
  position:relative;
  padding:0;
  margin:0;
  border:0;
  z-index:0;
}

.banner-content {
  position:absolute;
  z-index:100;
  padding-left:30px;
  padding-top:10%;
  color:#fff;
}

.banner-content h2 {
  font-size:3em;
}

.banner-content subhead {
  font-size:1.25em;
}

#home-banner {
  overflow:hidden;
  margin-bottom:20px;
}

#cta-column-hero {
  margin-bottom:20px;
}

/* ## Calls to Action
--------------------------------------------- */

.cta {
  display:block;
  max-width:100%;
  padding:5px 10px 5px 15px;
  color:#fff;
}

.cta:hover {
  text-decoration:none;

  cursor:pointer;
}

.cta:last-child {
  margin-bottom:0;
}

.cta h3 {
  margin-bottom:15px;
  margin-top:0;
}

.cta p {
  margin-bottom:0;
}

.cta-gray h3 {
  margin-top:15px;
}

.cta-blue,
.cta-orange,
.cta-gray {
  margin-bottom:15px;
  background-color:#40A0FC;
  border:1px solid #0082FC;
  text-shadow:-1px -1px 0px #006699;
}

.cta-blue:hover,
.cta-orange:hover,
.cta-gray:hover {
  background: #0082FC;
  border-color:#0082FC;
}

.cta .arrow-icon {
  display:block;
  padding:0;
  margin:0;
  min-width:100%;
  position:relative;
  overflow:hidden;
}

.cta .arrow-icon:after {
  font-family:FontAwesome;
  position:absolute;
  content:'\f138';
  top:35%;
  right:1px;
  font-size:1.5em;
}

.cta-gray .arrow-icon:after {
  top:25%;
}

.arrow-right .cta {
  display:block;
  margin-bottom:15px;
  height:75px;
  background:#D1CFCC;
  border:2px solid #65666A;
  color:#444;
  position:relative;
  width:75%;
}

.arrow-right .cta h4 {
  color:#0082FC;
  margin-bottom:0;
  padding-bottom:0;
  margin-top:5%;
}

.arrow-right p {
  margin-top:0;
  margin-bottom:0;
  font-size:.85em;
}

.arrow-right .cta:after { 
  content: " "; 
  display: block; 
  width: 0; 
  height: 0;
  border-top: 44px solid transparent;
  border-bottom: 44px solid transparent;
  border-left: 33px solid #D1CFCC;
  position: absolute;
  top: 49%;
  margin-top: -43px; 
  left: 100%;
  z-index: 2; 
}

.arrow-right .cta:before {
  content: " "; 
  display: block; 
  width: 0; 
  height: 0;
  border-top: 44px solid transparent;       
  border-bottom: 44px solid transparent;
  border-left: 33px solid #65666A;
  position: absolute;
  top: 49%;
  margin-top: -43px; 
  margin-left: 2px;
  left: 100%;
  z-index: 1; 
}

.arrow-right .cta:hover:before {
  border-left-color:#0082FC;
}

.arrow-right .cta:hover {
  border-color:#0082FC;
}

/* ## Tables and Lists
--------------------------------------------- */
      
table {
  width:100%;
  margin-bottom:20px;
  margin-top:10px;
  font-size:.9em;
  border-collapse:collapse;
}

table tr td,
table tr th {
  padding:5px 10px;
  text-align:left;
  vertical-align:top;
  margin:0;
}

.striped tr th {
  background-color:#ddd;
}

.striped tr:nth-child(odd) {
  background-color:#fff;
}

.striped tr:nth-child(even) {
  background-color:#f8f8f8;
}

.striped h3 {
  font-size:1em;
}

.tb-cell-date {
  white-space:nowrap;
}

.tb-cell-name {
  font-weight:bold;
  white-space:nowrap;
}

.media {
  margin-top:20px;
}

.media th {
  border-bottom:1px solid #ccc;
  vertical-align:bottom;
  font-size:12px;
}

.media td,
.media th {
  padding-right:0;
  padding-left:5px;
}

/* ## Forms
--------------------------------------------- */

.form-group {
  display:block;
  margin:15px 0;
}

.form-group label {
  display:block;
  font-weight:bold;
}

.form-group input {
  border:1px solid #ccc;
  margin-top:5px;
  height:27px;
  width:250px;
  padding-left:7px;
}

.loginForm p {
  font-size:.9em;
}

#logging-in {
  display:block;
  background-color: rgba(255, 255, 255, 0.75);
  position:absolute;
  top:0px;
  height:100%;
}

.waiting {
  margin-top:30%;
  display:block;
  background-color:#fff;
  overflow:hidden;
  padding:15px 0 5px 15px;
  width:245px;
}

.hide {
  display:none!important;
}

.has-error .form-group label,
.has-error p {
  color:#D9534F;
}

.has-error input {
  border-color:#D9534F;
}

/* ## Pagination
--------------------------------------------- */
      
.pagination-line {
  font-size:.75em;
  margin-bottom:0;
}

.pagination {
  list-style:none;
  padding-left:0;
  text-align:right;
  margin-bottom:0;
}

.pagination li {
  display:inline-block;
  margin-left:-4px;
  margin-bottom:0;
}

.pagination li a {
  display:block;
  border:1px solid #65666A;
  background-color:#fff;
  padding:2px 7px;
}

.pagination li a.previous,
.pagination li a.next {
  margin:0 5px;
}

.pagination li.inactive a {
  color:#999;
  border-color:#D1CFCC;
  background-color:#eee;
}

.pagination li.inactive a:hover {
  background-color:#eee;
  border-color:#D1CFCC;
  color:#999;
  cursor:default;
}

.pagination li a:hover {
  text-decoration:none;
  cursor:pointer;
  background: #D1CFCC;
  border-color:#65666A;
}

.pagination li a.active {
  background:#0082FC;
  border-color:#0065C3;
  color:#fff;
  font-weight:bold;
}

.showing-results {
  vertical-align:bottom;
  margin-top:15px;
}

.pagination-line {
  display:block;
  clear:both;
  overflow:hidden;
}

.pagination-line .select {
  font-size:.9em;
  border-radius:0;
  border:1px solid #ccc;
}

.mobile-only {
  display:none;
}

/* ## Search Results
--------------------------------------------- */
.search-results {
  margin-top:20px;
  width:100%;
}

.search-results .search-group {
  float:none;
  margin:0;
  width:550px;
  border:1px solid #ccc;
}

.search-results .search-group .input {
  border:0;
  margin:0;
  height:25px;
  width:500px;
  
}

.search-results .search-btn {
  background:#eee;
  margin:-1px;
  border:1px solid #ccc;
  color:#0082FC;
  height:37px;
  width:35px;
  float:right;
}
    
.search-results .search-btn:hover {
  cursor:pointer;
  background: #D1CFCC;
  border-color:#65666A;
  text-decoration:none;
}

.results-list {
  padding-left:0;
  display:block;
}

.results-line {
  display:block;
  list-style:none;
  margin-bottom:10px;
}

.result-link {
  color:#444;
  display:block;
  padding:5px;
}

.result-link:hover {
  text-decoration:none;
  background-color:#CCE6FE;
}

.result-title {
  color:#0082FC;
}

.result-link:hover .result-title {
  text-decoration:underline;
}

.result-breadcrumb {
  display:block;
  margin:5px 0;
  background-color:#eee;
  padding:2px 5px;
  font-size:.75em;
  color:#666;
}

.result-link:hover .result-breadcrumb {
  background-color:#CCE6FE;
}

.all-filters .panel-heading,
.all-filters .panel-body,
.all-filters .panel-default {
	background-color:#f8f8f8!important;
	background:transparent!important;
	border:0px solid #f8f8f8!important;
	padding:0;
}

/* ## Results Page Filters
--------------------------------------------- */

.filters {
  display:block;
  overflow:hidden;
  background-color:#f8f8f8;
  padding:10px;
  font-size:.9em;
}

.filters h4 {
  margin-top:10px;
  margin-bottom:5px;
  padding-top:5px;
  border-top:1px dashed #ccc;
}

.filter-group label {
  display:block;
  padding:2px 5px;
  margin:0;
}

.filter-group label:hover {
  background-color:#CCE6FE;
}

/* ## Panels (taken from boostrap)
--------------------------------------------- */

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.panel-body {
  padding: 15px;
}
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.panel-heading > .dropdown .dropdown-toggle {
  color: inherit;
}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}

.panel-group {
  margin-bottom: 20px;
}
.panel-group .panel {
  margin-bottom: 0;
  border-radius: 0;
}
.panel-group .panel + .panel {
  margin-top: 5px;
}
.panel-group .panel-heading {
  border-bottom: 0;
}
.panel-group .panel-heading + .panel-collapse > .panel-body,
.panel-group .panel-heading + .panel-collapse > .list-group {
  border-top: 1px solid #8c8c8c;
}
.panel-group .panel-footer {
  border-top: 0;
}
.panel-group .panel-footer + .panel-collapse .panel-body {
  border-bottom: 1px solid #8c8c8c;
}
.panel-default {
  border-color: #8c8c8c;
}
.panel-default > .panel-heading {
  color: #444;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #8c8c8c;
}
.panel-default > .panel-heading .badge {
  color: #f5f5f5;
  background-color: #444;
}
.panel-default > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #8c8c8c;
}
.panel-primary {
  border-color: #0082fc;
}
.panel-primary > .panel-heading {
  color: #fff;
  background-color: #0082fc;
  border-color: #0082fc;
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #0082fc;
}
.panel-primary > .panel-heading .badge {
  color: #0082fc;
  background-color: #fff;
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #0082fc;
}

/* # Structural Elements
---------------------------------------------------------------------------------------------------- */

/* ## Sections
--------------------------------------------- */

.content-fluid {
  display:block;
  width:975px;
  margin:0 auto;
}

section {
  padding:20px 0;
  width:100%;
  clear:both;
}

header,
nav,
footer {
  display:block;
  width:975px;
  clear:both;
  margin:0 auto;
}

/* ## Columns
--------------------------------------------- */

.column-100 {
  display:block;
  overflow:hidden;
  width:100%;
  position:relative;
  min-height:1px;
  display:block;
  margin-bottom:1%;
}

.column-90,
.column-75,
.column-66,
.column-50,
.column-33,
.column-25,
.column-10,
.column-8 {
  position:relative;
  float:left;
  min-height:1px;
  display:block;
  margin-bottom:1%;
  margin-right:2%;
}

.column-90 {
  width:88%;
}

.column-75 {
  width:73%;
}

.column-66 {
  width:65%;
}

.column-50 {
  width:48%;
}

.column-33 {
  width:31%;
}


.column-25 {
  width:23%;
}

.column-10 {
  width:8%;
}

.column-8 {
  width:6%;
}

.column-90:last-child,
.column-75:last-child,
.column-66:last-child,
.column-50:last-child,
.column-33:last-child,
.column-25:last-child,
.column-10:last-child,
.column-8:last-child {
  margin-right:0;
}

.column-90:last-child {
  width:90%;
}

.column-75:last-child {
  width:75%;
}

.column-66:last-child {
  width:67%;
}

.column-50:last-child {
  width:50%;
}

.column-33:last-child {
  width:33%;
}

.column-25:last-child {
  width:25%;
}

.column-10:last-child {
  width:10%;
}

.column-8:last-child {
  width:8%;
}

/* add border to column */

.border {
  display:block;
  overflow:hidden;
  border-right:1px solid #ccc;
  border-left:1px solid #ccc;
  padding-right:1%;
  padding-left:2%;
}

/* content image */

.content-image {
  overflow:hidden;
}

.content-image img {
  min-width:100%;
}

/* # Website Header
---------------------------------------------------------------------------------------------------- */

header {
  margin-bottom:20px;
}

.logo {
  text-indent:-9999px;
  width:209px;
  height:52px;
  margin:0px;
  margin-bottom:10px;
}

.search-group {
  float:right;
  margin-top:5px;
  padding:0;
  border:1px solid #0082FC;
}

.search-group .input {
  border-radius:0;
  border:0;
  height:18px;
  width:200px;
  padding:5px;
  margin:0;
  margin-right:-5px;
}

.search-btn {
  border-radius:0;
  background:#0082FC;
  border:1px solid #0082FC;
  width:30px;
  height:30px;
  color:#fff;
  padding:5px;
  display:inline;
}

.search-btn:hover {
  cursor:pointer;
  background-color:#80C0FC;
  border:1px solid #0082FC;
}

.languages {
  font-size:.75em;
  float:right;
  margin-right:2%;
}

.languages a {
  color:#bbb;
}

.languages .active {
  color:#333;
}

.languages .active:hover {
  text-decoration:none;
}

.orange-pipe {/*-- has been changed to blue, still called orange --*/
  color:#80C0FC;
  font-size:.75em;
  margin:0 2px;
  font-weight:bold;
  position:relative;
  top:-1px;
}

/* # Navigations
---------------------------------------------------------------------------------------------------- */

/* ## Top Area and Top Navigation
--------------------------------------------- */

.top {
  display:block;
  background-color:#65666A;
  margin:0;
  margin-bottom:20px;
}

.top-content {
  max-width:975px;
  margin:0 auto;
  overflow:hidden;
  color:#fff;
  font-size:.75em;
}

.top-content .column-50 {
  margin-bottom:0;
}

.top-content a {
  color:#fff;
}

.top-content .pipe {
  color:#ccc;
  margin:0 4px;
  font-weight:bold;
  position:relative;
  top:-1px;
}

/* Login */

.login-group {
  text-align:right;
  padding:10px 0;
}

.login-group a,
.logged-in a {
  text-decoration:underline;
}

.login-group .primary-btn {
  color:#444;
  background-color:#fff;
  padding:5px 10px;
}

.login-group .primary-btn:hover {
  cursor:pointer;
  background: #40A0FC;
  border-color:#0082FC;
  color:#fff;
}

.logged-in {
  text-align:right;
}

/* ## Main Website Navigation
--------------------------------------------- */

nav {
  min-height:35px;
  border-bottom:1px solid #ccc;
  border-top:1px solid #ccc;
}

.menu-title-bar {
  display:none;  
}

nav .navigation {
  display:block;
  padding:0;
  margin-top:0;
}

nav .navigation li {
  display:block;
  float:left;
  font-size:.75em;
  position:relative;
  margin-bottom:0!important;
  line-height:inherit;
}

nav .navigation li a {
  padding:10px 20px;
  text-decoration:none;
  color:#666;
  display:block;
}

nav .navigation li a.active {
  background-color:#eee;
  color:#444;
}

nav .navigation li:hover a {
  background-color:#0082FC;
  color:white;
}

nav .navigation li:hover ul li a {
  background-color:transparent;
  color:#fff;
}

nav .navigation li ul li a:hover {
  background-color:#D1CFCC;
  color:#444;
}

nav .navigation li ul {
  padding-left:0;
  margin-left:0;
  text-align:left;
}

nav .navigation li ul li {
  float:none;
  font-size:1em;
  margin-bottom:0!important;
}

nav .navigation li ul li a {
  font-weight:bold;
}

nav .navigation li ul li ul li a {
  padding-left:50px;
  font-weight:normal
}

nav .navigation li .mega-dd {
  z-index:1000;
  position:absolute;
  min-width:650px;
  padding-top:10px;
  background-color:#65666A;
  border:1px solid #65666A;
  display:none;
  /*opacity:0;
  transition: opacity 2s ease-in;*/
  top:100%;
}

nav .navigation li.dd-right .mega-dd {
  right:0;
}

nav .navigation li.dd-center .mega-dd {
  left:-195%;
}

nav .navigation li:hover .mega-dd {
	/*opacity:1;*/
  display:inline;
}

nav .navigation .column-50 {
  width:49%;
}

nav .navigation .column-50:first-child {
  border-right:1px solid #fff;
  margin-right:0;
}

nav .navigation .column-50:last-child {
  margin-left:-1px;
}

nav .navigation li ul li ul,
nav .navigation li ul li ul li ul {
  border-right:0;
  border-left:0;
}

nav .navigation li ul li ul li {
  padding-top:0;
  font-size:1em;
  text-align:left;
}

nav .navigation li ul li ul li a {
  font-weight:normal;
}

nav .navigation .mobile-only {
  display:none;
}

/* ## Left Navigation -- Lives Beside Page Content
--------------------------------------------- */
.left-nav {
  list-style:none;
  margin:0;
  padding:0;
  font-size:.75em;
}
      
.left-nav li ul {
  list-style:none;
  margin:0;
  padding-left:0;
  font-size:.9em;
}

.left-nav li {
  position:relative;
  margin-bottom:0!important;
}

.left-nav li a {
  display:block;
  line-height:1.25em;
  overflow:hidden;
  padding:5px 5px;
}

.left-nav li a.active {
  background-color:#eee;
  position:relative;
  color:#444;
}

.left-nav li ul li a.active:hover {
  color:#444;
  background-color:#eee;
}

 .left-nav li a:hover {
  background-color:#0082FC;
  color:#fff;
  text-decoration:none;
}

.left-nav li ul li a {
  padding-left:5px;
}

.left-nav li ul li ul li a {
  padding-left:10px;
}

.left-nav li ul li ul li ul li a.active {
  font-weight:bold;
  color:#666;
}

.left-nav li a.active:hover,
.left-nav li ul li a.active:hover {
  background-color:#eee;
}

.left-nav li ul li ul {
  margin-left:20px;
}

.left-nav li ul li ul li ul {
  margin-left:10px;
}

.left-nav .nav-header-item {
  padding-left:10px;
  padding-bottom:2px;
  color:#444;
  font-size:1.25em;
}

/* # Custom Page Styles, Classes, IDs
---------------------------------------------------------------------------------------------------- */

/* ## Product Declaration Page
--------------------------------------------- */

.outer-plus {
  position:relative;
  display:block;
  float:left;
  margin-left:-30px;
}

.plus:after,
.plus:before {
  font-family:fontAwesome;
  position:absolute;
  content:"\f055";
  top:85px;
  left:0;
  font-size:48px;
  color:#666;
  z-index:1;
}

.plus:before {
  content:"\f111";
  color:#fff;
}

.start-path {
  position:relative;
  display:block;
  margin-top:50px;
  margin-bottom:50px;
}

.start-with {
  display:block;
  width:250px;
  float:left;
  margin-right:20px;
  padding-right:20px;
  height:200px;
}

.start-with h3 {
  line-height:28px;
}

.start-circle {
  display:block;
  border:3px solid #0082FC;
  position:relative;
  border-radius:50%;
  text-align:center;
  height:200px;
  width:200px;
  float:left;
  margin-right:20px;
  overflow:hidden;
}

.start-circle .title {
  display:block;
  background-color:#0082FC;
  height:60px;
  margin-bottom:10px;
  width:100%;
}
.start-circle .title h4 {
  padding-top:20px;
  font-size:16px;
  color:#fff;
}

.start-circle.disabled .title {
  background-color:#999;
}
.start-circle.disabled .title h4 {
  color:#ccc;
}

.list-1, .list-2, .list-3 {
  display:block;
}

.start-path .start-btn {
  display:block;
  position:relative;
  height:150px;
  width:150px;
  float:left;
}

.start-path .start-btn .btn {
  border-radius:50%;
  height:150px;
  width:150px;
  margin-top:25px;
}

.start-path .start-btn .btn .btn-content {
  display:block;
  margin-top:25%;
  font-size:16px;
  position:relative;
  z-index:1;
  font-weight:bold;
}

.start-path .start-btn:after {
  font-family:fontAwesome;
  position:absolute;
  top:90px;
  font-size:72px;
  right:0;
  color:#80C0FC;
  content:"\f0a9";
  z-index:0;
}
.start-path .start-btn:hover:after {
  color:#0082FC;
}

.basics-list {
  margin-left:-10px;
  text-align:left;
}

.basics-list li {
  list-style-type:none;
  list-style-image:none;
  padding-left:35px;
  display:block;
  margin-bottom:5px;
  position:relative;
}

.basics-list .prod-listing:before,
.basics-list .declaration-fee:before,
.basics-list .agree-submit:before,
.basics-list .test-plan:before,
.basics-list .testing:before,
.basics-list .documentation:before {
  font-family:fontAwesome;
  position:absolute;
  font-size:14px;
  color:#999;
  content:"\f0f3";
  top:0;
  left:0;
}

.basics-list .prod-listing:before {
  content:"\f03a";
}

.basics-list .declaration-fee:before {
  content:"\f0d6";
  font-size:16px;
}

.basics-list .agree-submit:before {
  content:"\f090";
  font-size:18px;
}

.basics-list .test-plan:before {
  content:"\f0cb";
}

.basics-list .testing:before {
  content:"\f085";
  font-size:16px;
}

.basics-list .documentation:before {
  content:"\f15c";
}

.start-qual-des,
.start-new {
  color:#0082FC;
  padding-bottom:10px;
  font-size:30px;
}

/* end product declaration page */
      
subhead {
  font-size: 1.25em;
  color:#999;
}

.content-banner {
  overflow:hidden;
  margin-bottom:15px;
}

.content-banner h1 {
  position:absolute;
  top:103px;
  left:10px;
  color:#f8f8f8;
  display:block;
  padding:2px;
  background-color:rgba(64,160,252,0.5);
}

.content-intro {
  font-size:1.5em;
  color:#444;
  line-height:1.25em;
  font-weight:normal;
  font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}

.social-media {
  font-size:.5em;
  text-transform:uppercase;
  font-weight:bold;
  vertical-align:middle;
  margin-top:30px;
}

.social-media img {
  max-width:5%;
  vertical-align:middle;
  margin-left:1%;
}

.related-content {
  display:block;
  width:100%;
  float:left;
  margin:20px 15px 10px 0;
}

.related-title {
  width:auto;
  background-color:#65666A;
  padding:5px;
  color:#fff;
  font-weight:bold;
}

.related-list {
  padding:5px;
  margin:0;
  list-style-type:none;
  background-color:#f8f8f8;
}

.related-list li {
  padding:5px 0 10px 10px;
  font-size:.9em;
  display:inline-block;
  width:30%;
  vertical-align:text-top;
}

.column-75 .mobile-section {
  display:block;
  clear:both;
  overflow:hidden;
  background-color:#f8f8f8;
  padding:5px 20px;
  margin-top:10px;
  font-size:0.9em;
}

.column-75 .column-25 .mobile-section {
  background-color:#fff;
  padding:0;
} 


/* ## Adjusting Specific Tables
--------------------------------------------- */

.table-time tr:nth-child(odd) {
  background-color: #eee;
}

/* # Footer
---------------------------------------------------------------------------------------------------- */

.content-fluid + footer {
  padding-top:20px;
}

footer {
  display:block;
  overflow:hidden;
  font-size:.75em;
}

footer .content-fluid {
  border-top:1px solid #ccc;
  padding-top:20px;
}

.board-directors {
  border-top:1px solid #ccc;
  border-bottom:1px solid #ccc;
  margin-bottom:15px;
  overflow:hidden;
  padding:10px 0;
}

.board-directors img {
  max-height:40px;
  max-width:100px;
  vertical-align:middle;
  margin-right:8px;
}

.board-directors img:last-child {
  margin-right:0;
}

.breadcrumb {
  display:block;
  width:auto;
  padding:5px 10px;
  margin-top:10px;
  font-size:.75em;
  background-color:#eee;
}

/* # Media Queries
---------------------------------------------------------------------------------------------------- */

@media (max-width:974px) {

    .content-fluid {
    width:98%;
    margin:0 1%;
    }
    
    header,
    nav,
    footer {
      margin-right:0;
      margin-left:0;
      width:100%;
    }
        
    .top-content {
      padding-left:10px;
      padding-right:10px;
    }
    
    nav {
      margin-bottom:50px;
    }
    
    nav .navigation li {
      border-top:1px solid #ccc;
      border-bottom:1px solid #ccc;
      margin-top:-1px;
      position:static;
    }
    
    nav .navigation li ul li {
      border-top:0;
      border-bottom:0;
      margin-top:0;
    }
    
    nav .navigation li .mega-dd,
    nav .navigation li.dd-right .mega-dd,
    nav .navigation li.dd-center .mega-dd {
      margin:auto;
      right:0;
      left:0;
      top:auto;
    }

}

@media (max-width:800px) {
  
    .content-fluid {
      width:98%;
      margin:0 1%;
    }
  
    .column-75 .column-75,
    .column-75 .column-66,
    .column-75 .column-50,
    .column-75 .column-33,
    .column-75 .column-25,
    .column-75 .column-10,
    .column-75 .column-8,
    .column-50 .column-75,
    .column-50 .column-66,
    .column-50 .column-50,
    .column-50 .column-33,
    .column-50 .column-25,
    .column-50 .column-10,
    .column-50 .column-8 {
      float:none;
      width:100%;
      margin-right:0;
    }
    
    .mobile-section {
      border:1px solid #ccc;
      margin-bottom:2%;
      font-size:.75em;
    }
    
    .mobile-section h3,
    .mobile-section a {
      display:block;
    }
    
    .mobile-section h3 {
      background:#ccc;
      padding:2%;
    }
    
    .mobile-section p {
      padding:0 2%;
    }
    
    .content-image img {
      display:none;
    }
    
    .cta .arrow-icon:after {
      content:'';
    }
    
    .border {
      border-right:0;
      border-left:0;
      padding-left:0;
      padding-right:0;
    }
    
    .arrow-right .cta {
      height:auto;
      padding-bottom:15px;
    }
    
    .arrow-right .cta:after { 
      content: " "; 
      display: none;
    }
    
    .arrow-right .cta:before {
      content: " "; 
      display: none; 
    }
    
    .arrow-right .cta h4 {
      margin-top:5%!important;
    }
  
}

@media (max-width:750px) {
        
    .content-fluid {
      width:98%;
      margin:0 1%;
    }

    .pagination {
      text-align:left;
      padding-left:5px;
      clear:both;
      width:100%;
      float:none;
    }
        
    table, 
    tbody, 
    tr, 
    th, 
    td {
      display:block;
    }
    
    table tr th {
      display:none;
    }

    .left-nav li ul li ul {
      margin-left:5px;
    }

    .media-btn {
      float:none;
      width:90%;
      margin-bottom:1%;
    }

    .content-banner h1 {
        font-size: 25px;
    }
  
}

@media (max-width:600px) {
        
    .breadcrumb,
    header .logo {
      display:none;
    }
    
    header .search-group {
      float:left;
    }
    
    header .languages {
      float:left;
      text-align:left;
      margin-left:2%;
    }
    
    header .languages .orange-pipe {
      display:none;
    }
    
    header a {
      display:none;
    }
    
    header .active {
      display:block;
    }
    
    header .active:after {
      font-family:FontAwesome;
      position:relative;
      top:0;
      right:-5px;
      font-size:.75em;
      content:'\f078';
    }
    
    header p:hover a {
      display:block;
    }
    
    .content-fluid {
      width:98%;
      margin:0 1%;
    }
    
    #banner-home {
      max-height:25%;
    }
    
    .content-image img {
      display:none;
    }
    
    .content-image img {
      max-height:15%;
      min-height:15%;
    }
    
    .column {
      float:none;
      margin-right:0;
    }
    
    .column-75,
    .column-66,
    .column-50,
    .column-33,
    .column-25,
    .column-10,
    .column-8 {
      min-width:100%;
    }
    
    .border {
      border-right:0;
      border-left:0;
      padding-left:0;
      padding-right:0;
    }
    
    .cta-blue,
    .cta-orange,
    .cta-gray,
    .arrow-right .cta {
      margin:0;
      margin-bottom:5px;
    }
    
    .arrow-right .cta {
      max-width:100%;
      min-width:90%;
    }
    
    .arrow-right .cta h4 {
      margin-top:5%!important;
    }
    
    .filter-group {
      display:none;
    }
    
    .all-filters:hover .filter-group {
      display:block;
    }
    
    .filters-title {
      position:relative;
    }
    
    .filters-title:after {
      font-family:fontAwesome;
      position:absolute;
      right:0;
      top:0;
      content:"\f078";
    }
    
    .showing-results .align-right {
      text-align:left;
    }

    .search-results .search-group .input {
       width:350px;
    }
    .search-results .search-group {
      width:400px;
    }

    .banner-image {
      right: 140px;
    }

    .content-banner h1 {
      position: absolute;
      top: 100px;
    }

/* Fix for skinny table rows on mobile */

    table [style*="width"] {
      width:100%!important;
    }

/* Login or create account buttons in header */

    /* Removing search bar as it is difficult to resize */

    header .search-group {
      display: none;
    }

    .top {
      margin-bottom: 0;
      background-color: #fff;
    }

    .top-content {
      position: relative;
      color: #666;
      margin-bottom: -35px;
      top: -2px;
      right: 5px;
      z-index: 1;
    }

    p.link-list {
      display: none;
    }

    .top-content a {
      color: #0082FC;
    }

    .login-group .primary-btn {
      background-color: #0082FC;
      color: #fff;
     }

/* Navigation */

    .left-nav {
      display:none;
    }
    
    .top-content .login-group {
      text-align:left;
    }
    
    nav {
      margin-bottom:0!important;
    }
    
    nav .navigation li {
      float:none;
      margin-right:0;
      margin-left:0;
      border-bottom:1px solid #ccc;
    }
    
    nav .navigation li ul li a {
      margin-left:0;
    }
      
    nav .navigation li:last-child {
      border-bottom:0;
    }
      
    nav .navigation li ul {
      width:100%;
      border:0;
      position:relative;
    }
      
    nav .navitation li:hover ul {
      display:block;
    }
      
    nav .navigation li ul li a {
      border-top:1px solid #eee;
    }
      
    nav .navigation li .dropdown:before {
      font-family:FontAwesome;
      content:'\f078';
      position:relative;
      top:0;
      left:98%;
    }
    
    nav .navigation li .mega-dd {
      z-index:1000;
      min-width:100%;
      padding-top:10px;
      background-color:#40A0FC;
      border:1px solid #40A0FC;
      top:100%;
    }
    
    nav .navigation li.dd-right .mega-dd {
      right:0;
    }
    
    nav .navigation li.dd-center .mega-dd {
      left:-140%;
    }
    
    nav .navigation li:hover .mega-dd {
      display:inline;
    }
        
    .menu-title-bar {
      display: block;
      overflow: hidden;
      background: #999;
      color: #fff;
      cursor: pointer;
    }
    
    .menu-title-bar h4 {
      float:left;
      padding:12px;
      padding-left:38px;
      background-image:url(http://www.bluetooth.com/~/media/bluetooth/logos/bluebug-white-mobile.ashx);
      background-repeat:no-repeat;
      background-position:middle;
    }
    
    .menu-btn {
      float:right;
      border-radius:0;
      border:0px solid transparent;
      background:#999;
      color:#fff;
      font-size:1.5em;
      margin:5px 0 0 9px;
      text-shadow:-1px -1px 0 #666;
    }
    
    .menu-btn:hover {
      cursor:pointer;
      background:#999;
      border:0px solid transparent;
    }
    
    nav .navigation {
      display: none;
      z-index: 10;
      position: relative;
    }
    
    nav {
      height:2.75em;
      border-top:1px solid #777;
      border-bottom:1px solid #777;
    }
  
    header,
    nav,
    footer {
      margin-right:0;
      margin-left:0;
      width:100%;
    }
  
/* Normalizing for Mobile Menu */
  
    nav .navigation li:hover .mega-dd {
      display: none;
    }
    
    nav .navigation li a {
      display:inline-block;
    }
    
    nav .navigation li:hover a,
    .mega-dd li:hover {
      background-color: transparent!important;
      color: #666!important;
      text-decoration: none;
      border: none;
      font-weight: 300!important;
    }
    
    .mega-dd li a {
      background-color: transparent!important;
      color: #666!important;
      text-decoration: none;
      border: none!important;
      font-weight: 300!important;
    }
    
    nav .navigation .mobile-only {
      display: block;
    }
    
    nav .navigation li .mega-dd {
      background-color: transparent;
      border: none;
      padding-top: 0;
    }
    
/* End Normalizing */
    
    .navigation li {
      list-style: none;
    }
    
    .menu-title-bar {
      padding: 5px;
    }
    
    .menu-title-bar h4 {
      float: left;
    }
    
    .menu-btn {
      float: right;
    }
    
    .menu-title-bar: {
      cursor: pointer;
    }
    
    .navigation {
      clear:both;
    }
    
    nav .navigation li .mega-dd,
    nav .navigation li,
    .dd-left,
    .dd-center,
    .dd-right,
    .mobile-only {
      position: static;
      border: none;
    }
    
    nav .navigation {
        overflow: hidden;
        background-color: white;
        border-bottom: 2px solid #40A0FC;
    }

  /* To make the mobile nav be in front of other page elements */

    .column-75, 
    .column-25 {
        z-index: 1;
    }
    
  /* Adding the sub menu chevron up and down icons */
  
    .dd-left::before,
    .dd-center::before,
    .dd-right::before {
      content: "\f078";
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
      color: #40A0FC;
      font-size: 12px;
      float:right;
      margin: 10px 20px auto auto;
    }
      
    .icon::before {
      content: "\f077";
    }
  
/* Initial hiding of main divs to prepare for js toggle */
  
    nav .navigation {
      display: none;
    }

    header {
      margin-bottom: initial;
    }
    
}

@media (max-width:400px) {

    .pagination-line .pagination li a {
      display:none;
    }

    .pagination-line .pagination {
      clear:both;
      overflow:hidden;
    }

    .pagination-line .pagination li {
      width:50%;
      float:left;
    }

    .pagination-line .pagination li a.next,
    .pagination-line .pagination li a.previous {
      display:block;
      text-align:center;
    }

    .pagination {
      width:100%;
      text-align:left;
      clear:both;
    }
    
    .pagination .mobile-only {
      display:inline;
    }

    .paging_ul {
      width:100%;
      padding:0;
    }
      
    .related-list li {
      padding:5px 0 10px 10px;
      font-size:.9em;
      display:block;
      width:100%;
    }

    .search-results .search-group .input {
      width:150px;
    }

    .search-results .search-group {
      width:200px;
    }

}