<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.unicefkidpower.schools">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--<uses-permission android:name="android.permission.READ_LOGS" />-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!--<uses-permission android:name="android.permission.GET_TASKS" />-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <!--<uses-permission android:name="android.permission.WRITE_SETTINGS" />-->
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <!--<uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />-->
    <!--<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />-->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- for getting IMEI -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- Allows access to the flashlight -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
	<uses-feature
		android:name="android.software.leanback"
		android:required="false"/>
	<uses-feature
		android:name="android.hardware.touchscreen"
		android:required="false"/>

	<application
        android:name=".KidpowerApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/KidPowerStyle"
        tools:replace="name, icon, label, theme, allowBackup">

        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/KidPowerStyle_NoActionBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
        </activity>

        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/KidPowerStyle_NoActionBar"/>

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/KidPowerStyle_NoActionBar"
            android:windowSoftInputMode="adjustResize" />

        <!--activity
            android:name=".ActivationCodeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/KidPowerStyle_NoActionBar"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".SelCityActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/KidPowerStyle_NoActionBar"
            android:windowSoftInputMode="adjustPan"></activity-->

        <activity
            android:name=".SignupActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/KidPowerStyle_NoActionBar"
            android:windowSoftInputMode="adjustPan"></activity>

        <activity
            android:name=".TeamSetupActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/KidPowerStyle_NoActionBar"
            android:windowSoftInputMode="adjustPan"/>

        <activity android:name=".SelectPhotoActivity" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/KidPowerStyle_NoActionBar"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name=".OnboardingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/KidPowerStyle_NoActionBar"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".WebViewActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/KidPowerStyle_NoActionBar" />

        <activity
            android:name=".WebWelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/KidPowerStyle_NoActionBar" />

        <activity
            android:name=".support.ContactUsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/KidPowerStyle_NoActionBar" />

        <activity
            android:name=".support.HelperCenterActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/KidPowerStyle_NoActionBar" />

        <activity
            android:name=".support.HelperCenterDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/KidPowerStyle_NoActionBar" />

		<activity
			android:name=".support.TicketListActivity"
			android:label="@string/app_name"
			android:screenOrientation="portrait"
			android:theme="@style/KidPowerStyle_NoActionBar" />

		<activity
			android:name=".support.TicketCommentActivity"
			android:label="@string/app_name"
			android:screenOrientation="portrait"
			android:theme="@style/KidPowerStyle_NoActionBar" />

        <receiver android:name=".server.NetworkListener">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".ble.BluetoothAdapterListener"
            android:exported="false">
            <intent-filter>
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="d177fb244cfbf946f4d4ec04bde1687061b91fee" />

    </application>

</manifest>